<h3>Employee Details: </h3>

<!--<table class="table table-striped table-hover ">
    <tr class="tabletr">
        <th>Picture</th>
        <th><span class="names">Name</span></th>
        <th><span   class="email">Email</span></th>
    </tr>
    <tr ng-animate=" 'animate' " ng-repeat = "x in ajaxData"  >
        <td><img class="midimages" src="{{x.picture.medium}}"></td>
        <td ><span class="names">{{x.name.first +" "+ x.name.last}}</span></td>
        <td><span   class="email">{{x.email}}</span></td>

    </tr>


</table>-->

<picture-repeat  ng-repeat = "x in ajaxData "   data = "x">

    <!--<div><img  class="midimages" src="{{x.picture.medium}}"></div>
     <div><span class="names">{{x.name.first +" "+ x.name.last}}</span></div>
    <div><span   class="email">{{x.email}}</span></div>-->



</picture-repeat>
